.userAvatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

.userAvatarImage {
    height: 80%;
    width: 80%;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}